fastapi==0.136.1
uvicorn==0.46.0
pytesseract==0.3.13
pillow==12.1.0
SpeechRecognition==3.14.5
python-multipart==0.0.20
scikit-learn==1.8.0
scipy==1.17.1
numpy==2.4.4
joblib==1.5.3
threadpoolctl==3.6.0
